# We want to do away with all the .DS_STORE things as well as what I think is
# a recovery file that emacs uses--namely: emacs.d/ac-comphist.dat.
.DS_STORE
ac-comphist.dat
# We also don't want to version the auto-save-list directory.
auto-save-list
vim/.netrwhist

# We need to install eclim on its own.
vim/eclim
vim/plugin/eclim.vim
workbench.xmi

# Don't version things installed by vim-plug.
vim/plugged
vim/autoload
