snippet newj "Start of journal entry"

> full-date = "`date`"
> friendly_date = "`date +%Y-%m-%d`"
> iso_date = "`date +%Y-%m-%dT%H:%M:%S%z`"
> location = "$1"
> weather = "$2"
> 
> tags = []

endsnippet
